/******************************************** 
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

/******************************************** 
  ヘッダー 
*********************************************/
header {
  height: 65px;
  background-color: #1C3667;
}

* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.class_name {
  font-size: 25px;
  min-width: 200px;
  color: #f5f5f5;
  text-decoration: none;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #f5f5f5;
}

.brand-list {
  text-decoration: none;
  color: #f5f5f5;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #f5f5f5;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #f5f5f5;
}

.login {
  text-decoration: none;
  line-height: 32px;
  color: #f5f5f5;
}

.post {
  text-decoration: none;
  margin-left: 3vw;
  line-height: 32px;
  color: #f5f5f5;
}

.sign-up {
  text-decoration: none;
  line-height: 32px;
  color: #f5f5f5;
}


/******************************************** 
  一覧画面
*********************************************/
.index-main {
  height: 100%;
  padding: 90px 0;
  background-color: #F2F2F3;
}

.post-contents {
  width: 700px;
  margin: 0 auto;
}

.post-content {
  width: 100%;
  height: 100px;
  margin-bottom: 1px;
}


.post-list {
  width: 600px;
  padding: 10px 15px;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.post-top {
  display: flex;
  justify-content: space-between;
}

.post-top__title {
  width: 500px;
  font-size: 14px;
  text-decoration: underline;
}

.question-top__name {
  font-size: 12px;
  text-align: right;
}


.general_information {
  margin-bottom: 5px ;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  display: flex;
}

.class_information {
  margin-bottom: 5px ;
  margin-top: 15px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline;
  justify-content: center;
  display: flex;
}

.child_list {
  margin-bottom: 50px;
  padding-top: 100px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  justify-content: center;
  display: flex;
}

.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/******************************************** 
  投稿(編集)画面
*********************************************/
.new-main {
  height: calc(100vh - 65px);
  padding: 80px 0;
  background-color: #F2F2F3;
}

.form {
  width: 700px;
  height: 420px;
  margin: 0 auto;
}

.form-top {
  width: 100%;
  height: 45px;
  border-radius: 5px 5px 0 0;
  background-color: #1C3667;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-top-title {
  font-size: 18px;
  color: #f5f5f5;
}

.form-main {
  width: 100%;
  height: 480px;
  padding: 40px 0;
  border-radius: 0 0 5px 5px;
  background-color: #FFFFFF;
}

.input-items {
  width: 520px;
  margin: 0 auto;
}

.input-items input {
  width: 100%;
  height: 100%;
}

.input-items textarea {
  width: 100%;
  height: 100%;
}

.input-items__title {
  width: 100%;
  height: 30px;
}

.input-items__content {
  width: 100%;
  height: 120px;
  margin-top: 15px;
}

.input-items__name {
  width: 100%;
  height: 30px;
  margin-top: 15px;
}

.input-items__submit {
  width: 100%;
  height: 36px;
  margin-top: 50px;
}

.input-items__submit input {
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #1C3667;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

/* /画像 */
.click-upload {
  margin: 5px 0;
  width: 350px;
}

.click-upload>p {
  margin-bottom: 5px;
}
/* /画像 */


/******************************************** 
  詳細画面
*********************************************/
.register__wrapper{
  min-height: calc(100vh - 161px);
}
.register__heading{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}
.register__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.register__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.register__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.register__btn:hover{
  color: #fff;
  background: #999;
}
.comment_field{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 40px 50px 40px 50px;
  border-radius: 5px;
  border: ridge;
}
.register__comment{
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

