/******************************************** 
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

/******************************************** 
  ヘッダー 
*********************************************/
header {
  height: 65px;
  background-color: #1C3667;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 0 20px;
  align-items: center;
}

.logo {
  font-size: 23px;
  letter-spacing: 1.8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #FFFFFF;
}

.post-button {
  width: 80px;
  height: 32px;
  border-radius: 5px;
  background-color: #FFFFFF;
  text-align: center;
}

.post-button a {
  line-height: 32px;
  text-decoration: none;
  color: #3A3736;
  font-size: 16px;
}

/******************************************** 
  一覧画面
*********************************************/
.show-main {
  padding: 70px 0;
  background-color: #F2F2F3;
}

.show-contents {
  width: 700px;
  margin: 0 auto;
  padding: 70px 60px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.show-question__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}

.show-question__content {
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
}

.answers-heading {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}

